// view liked and reviewed art here.
//view followers here.

html(lang='en')
 head
   title View Enrolled;
   style
      include styles.css
 body
 -let database1 = database;
   div#links
    a(href="/logout") Logout
    a(href="/login") Home
    a(href="/swapAccounts") Switch Accounts (Current Account Type: #{accountType}) 
    a(href="/searchArtwork") Search for Art:
    a(href="/viewLikedandReviewed") View Liked and Reviewed Art
    a(href="/inbox") Notifications: #{notificationCount}
    -if(accountType == "artist")
      a(href="/addNewArt") Add New Art
      a(href="/addWorkshop") Add Workshop
    -if(admin == "true")
      a(href="/viewers") See Users
    a(href=`/profile/${id}`) View Profile
   h1 View Enrolled in Workshop: #{database1.title}
   ul
    each value in database1.enrolled 
        li #{value.name}